.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}

.login-form {
  width: 320px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: black;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 13px;
}

.form-options a {
  color:  lightblue;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  color:  white;
  font-size: 16px;
  cursor: pointer;
}
