.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
  font-family: "Times New Roman", Times, serif;
}

.login-form {
  width: 340px;
  padding: 25px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box; 
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-link {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.login-btn {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: lightblue;
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.login-btn:hover {
  background-color: darkblue;
  color: white;
}
